<div class="login-block" ng-show="page == 'signin' || page == 'signup'" ng-controller="SessionsCtrl">
  <div ng-show="page == 'signin'" class="form-sign-in">
    <h3>Sign in</h3>
    <input type="text" ng-model="username" class="form-control" placeholder="login"/>
    <input type="password" ng-model="password" class="form-control" placeholder="password"/>
    <button type="submit" class="btn btn-success signin-btn" ng-click="login()">Sign in</button>
    <button class="btn btn-default signup-btn" ng-click="goto('signup')">Sign up</button>
  </div>

  <div ng-show="page == 'signup'" class="form-sign-up">
    <h3>Sign up</h3>
    <input type="text" ng-model="username" class="form-control" placeholder="login"/>
    <input type="password" ng-model="password" class="form-control" placeholder="password"/>
    <button class="btn btn-success signup-btn" ng-click="register()">Sign up</button>
    <button class="btn btn-default signin-btn" ng-click="goto('signin')">Sign in</button>
  </div>
</div>

<div ng-show="page == 'index'">
  <div ng-controller="AnalyzeCtrl">
    <div class="row">
      <div class="col-md-8">
        <div class="example-block">
          <span>Enter at least 3 numbers without spaces like:</span>
          <code>1,2,3,4,5,6,7</code>
        </div>
        <div class="form-group">
          <textarea rows="10" placeholder="Enter dataset here" name="dataset" class="form-control" ng-model="dataset"></textarea>
        </div>
        <button class="btn btn-info" ng-click="analyze()">Analyse</button>
      </div>
      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(key, value) in results">{{ key | capitalize }}: {{ value }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>