<div class="login-block" ng-show="page == 'signin' || page == 'signup'" ng-controller="SessionsCtrl">
  <div ng-show="page == 'signin'" class="form-sign-in">
    <h3>Sign in</h3>
    <input type="text" ng-model="username" class="form-control" placeholder="login"/>
    <input type="password" ng-model="password" class="form-control" placeholder="password"/>
    <button type="submit" class="btn btn-success signin-btn" ng-click="login()">Sign in</button>
    <button class="btn btn-default signup-btn" ng-click="goto('signup')">Sign up</button>
  </div>

  <div ng-show="page == 'signup'" class="form-sign-up">
    <h3>Sign up</h3>
    <input type="text" ng-model="username" class="form-control" placeholder="login"/>
    <input type="password" ng-model="password" class="form-control" placeholder="password"/>
    <button class="btn btn-success signup-btn" ng-click="register()">Sign up</button>
    <button class="btn btn-default signin-btn" ng-click="goto('signin')">Sign in</button>
  </div>
</div>

<div class="row" ng-show="page == 'index'" ng-controller="AnalyzeCtrl">
  <div class="col-md-8">
    <div class="example-block">
      <span>Enter at least 3 numbers without spaces like:</span>
      <code>1,2,3,4,5,6,7</code>
    </div>
    <div class="form-group">
      <textarea rows="10" placeholder="Enter dataset here" class="form-control" ng-model="datasets.dataset"></textarea>
    </div>
    <button class="btn btn-info" ng-click="analyze()">Analyse</button>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="results != null">
      <div class="panel-heading">Results</div>
      <ul class="list-group" id="analysis-results">
        <li class="list-group-item">Average:&nbsp;{{ results.average }}</li>
        <li class="list-group-item">Min:&nbsp;{{ results.min }}</li>
        <li class="list-group-item">Max:&nbsp;{{ results.max }}</li>
        <li class="list-group-item">Q1:&nbsp;{{ results.q1 }}</li>
        <li class="list-group-item">Median:&nbsp;{{ results.median }}</li>
        <li class="list-group-item">Q3:&nbsp;{{ results.q3 }}</li>
        <li class="list-group-item">Outliers:&nbsp;{{ results.outliers }}</li>
      </ul>
    </div>
  </div>
</div>

<div ng-show="page == 'correlation'" ng-controller="CorrelationCtrl">
  <h3>Correlation check between two datasets</h3>
  <div class="example-block">
    <span>Enter 2 arrays of data of <strong>equal length</strong>. Each array should contain <strong>at least 3 different numbers</strong>.</span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <textarea rows="10" placeholder="Enter first dataset here" class="form-control" ng-model="datasets.dataset"></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <textarea rows="10" placeholder="Enter second dataset here" class="form-control" ng-model="datasets.second_dataset"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-info" ng-click="calculate()">Calculate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="correlation-result" class="panel panel-default">
        <div class="panel-body">
          <h5>Result: {{ result }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>