.login-block {
  border: 1px solid #8290A1;
  border-radius: 3px;
  padding: 10px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;

  input {
    margin-bottom: 10px;
  }

  .signin-btn, .signup-btn {
    width: 48%;
    margin-bottom: 5px;
  }

  .form-sign-in .signup-btn {
    float: right;
  }

  .form-sign-up .signin-btn {
    float: right;
  }
}

.example-block {
  margin-bottom: 5px;
}

#analyze-btn {
  margin-bottom: 16px;
}

#correlation-block {
  clear: left;
}

#correlation-result {
  margin-top: 15px;
  background-color: #f5f5f5;

  .panel-body {
    padding: 9px 9px 9px 15px;
  }

  h5 {
    margin: 0;
  }
}

#analysis-results li {
  overflow: auto;
}